[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
allow_prereleases = true

[packages]
boto3 = "==1.14.2"
qiskit = "==0.34.2"
numpy = "==1.18.5"

[dev-packages]
black = "*"
codecov = "*"
junit2html = "*"
moto = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-randomly = "*"
requests-mock = "*"

[requires]
python_version = "3.7"
